* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, #517fa4, #243949);
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px;
  background-color: #758a99;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .photo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .photo {
  top: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.card .photo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, #222);
}

.card h1 {
  position: absolute;
  top: 370px;
  transition: 0.5s;
}

.card:hover h1 {
  top: 170px;
}

.card h2 {
  margin-top: 220px;
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.card p {
  width: 90%;
  text-indent: 32px;
  font-size: 16px;
  line-height: 30px;
}

.card a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px 32px;
}

.card a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
