body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.item,
.result {
  width: 75px;
  height: 75px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.item:active {
  background-color: #ddd;
}

.result {
  width: 75%;
}
