* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darksalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

div {
  position: absolute;
  bottom: 200px;
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}
